node_modules
yarn.lock
package-lock.json
examples/**/*-lock.json
examples/**/data
scripts/sync.sh
scripts/traverse.sh
scripts/traverse.py
*.log
.cache/
coverage*/
jsconfig.json
dist
data/
.DS_Store

# Python

__pycache__
*.pyc
.idea
*.egg-info
.python-version

# Jupyter Bindings
.ipynb_checkpoints
bindings/jupyter/**/static/
bindings/jupyter/**/*env/
bindings/jupyter/build
bindings/jupyter/*.ipynb
bindings/jupyter/**/metadata
examples/jupyter/**/venv/
examples/jupyter/**/lib/
